{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block content %}

<div class="w3-container form-container">
<br><br>



<h1 class="login-container">{% trans "Sign Up" %}</h1>



<form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button class="w3-button w3-teal w3-text-white w3-xxlarge w3-round w3-margin w3-hover-teal-dark w3-ripple" type="submit">{% trans "Sign Up" %} &raquo;</button>
  <button class="w3-button w3-border-teal w3-border w3-text-teal w3-xxlarge w3-round w3-margin w3-hover-teal-dark w3-ripple">{% blocktrans %}<a href="{{ login_url }}">Log in</a>{% endblocktrans %}</button>
  <a class="w3-button w3-border-teal w3-border w3-text-teal w3-xxlarge w3-round w3-margin w3-hover-teal-dark w3-ripple" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
</form>


</div>
{% endblock %}
