{% extends "base.html" %}
{% load wagtailimages_tags gallery_tags %}

{% block content %}
{% image self.image fill-1920x600 as hero_img %}
<div class="hero-image" style="background-image:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)),url('{{ hero_img.url }}'); height: 60vh">
<div class="hero-gradient-mask"></div>
    <div class="w3-container">
        <div class="hero-text-blog">
                <h1>{{ page.title }}</h1>
                <p class="stand-first">{{ page.subtitle }}</p>
        </div>
    </div>
</div>

<div class="w3-container w3-center">
            <h2>{{ page.introduction }}</h2>
            {% gallery page.collection %}
</div>
{% endblock content %}
