{% extends "base.html" %}
{% load navigation_tags wagtailimages_tags comments %}

{% block content %}

    {% image self.image fill-1920x600 as hero_img %}
        {% include "base/include/header-hero.html" %}

    <div class="w3-container w3-content" style="max-width:800px" id="band">
        <div class="row">
            <div class="col-md-8">
                {% if page.introduction %}
                    <p class="w3-opacity"><i>{{ page.introduction }}</i></p>

                {% endif %}

                <div class="blog-meta">
                    {% if page.authors %}
                        <div>
                            {% for author in page.authors %}
                                <p class="w3-left">{% image author.image fill-50x50-c100 class="blog-avatar" %}
                                    {{ author.first_name }} {{ author.last_name }}</p>
                            {% endfor %}
                        </div>
                    {% endif %}

                    {% if page.date_published %}
                        <p class="w3-right w3-opacity">
                            {{ page.date_published }}
                        </p>
                    {% endif %}
                </div>
                <br>
                <br><br>

                <div class="w3-large"><p>{{ page.body }}</p></div>

                {% if page.get_tags %}
                    Tagged with:<br />
                    {% for tag in page.get_tags  %}
                        <a href="{{ tag.url }}" ><span class="w3-tag w3-teal w3-margin-bottom">{{ tag }}</span></a>
                    {% endfor %}
                {% endif %}

                <div class="card card-block mb-5">
                  <div class="card-body">
                    <h4 class="card-title text-center pb-3">Post your comment</h4>
                      {% render_comment_form for page %}
                  </div>
                </div>

    <!-- Testimonials -->
    <h3 class="w3-padding-24 w3-text-light-grey">My Reputation</h3>
    <img src="/w3images/bandmember.jpg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px">
    <p><span class="w3-large w3-margin-right">Chris Fox.</span> CEO at Mighty Schools.</p>
    <p>Jane Doe saved us from a web disaster.</p><br>

    <img src="/w3images/avatar_g2.jpg" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:80px">
    <p><span class="w3-large w3-margin-right">Rebecca Flex.</span> CEO at Company.</p>
    <p>No one is better than Jane Doe.</p>

                {% get_comment_count for page as comment_count %}
                <div class="py-4 text-center">
                  <a href="#">Back to the post list</a>
                  &nbsp;&sdot;&nbsp;
                  {{ comment_count }} comment{{ comment_count|pluralize }}
                  ha{{ comment_count|pluralize:"s,ve" }} been posted.
                </div>

                {% if comment_count %}
                <hr/>
                <div class="comments">
                  {% render_comment_list for page %}
                </div>
                {% endif %}

            </div>
        </div>
    </div>



{% endblock content %}
