{% extends "base.html" %}
{% load comments wagtailcore_tags navigation_tags wagtailimages_tags %}

{% block content %}
    {% include "base/include/header-index.html" %}

    <div class="w3-col l8 s12">
        {% if tag %}
            <div class="row">
                <div class="col-md-12">
                    <p>Viewing all blog posts by <span class="outline">{{ tag }}</span></p>
                </div>
            </div>
        {% endif %}

        {% if page.get_child_tags %}
            <!-- Labels / tags -->
            <div class="w3-card w3-margin">
              <div class="w3-container w3-padding">
                <h4>Tags</h4>
              </div>
              <div class="w3-container w3-white">
                  <p>
                    {% for tag in page.get_child_tags %}
                        <a href="{{ tag.url }}"><span class="w3-tag w3-teal w3-margin-bottom">{{ tag }}</span></a>
                    {% endfor %}
                  </p>
              </div>
            </div>
        {% endif %}








        <!-- Blog entries -->
        <div class="">
            {% if posts %}
                {% for blog in posts %}

                    <!-- Blog entry -->
                    <div class="w3-card-4 w3-margin w3-white">
                        {% image blog.image fill-850x450-c50 as image %}
                        <img src="{{ image.url }}" alt="{{ image.alt }}" style="width:100%" />
                        <div class="w3-container">
                          <h3><b>{{ blog.title }}</b></h3>
                          <h5>
                              {% if blog.date_published %}
                                  <span class="w3-opacity">{{ blog.date_published }}</span> by
                                    {% endif %}
                                    {% for author in blog.authors %}
                                        {{ author }}{% if not forloop.last %}, {% endif %}
                                    {% endfor %}
                          </h5>
                        </div>
                        <div class="w3-container">
                          <p>{{ blog.introduction|truncatewords:15 }}</p>
                          <div class="w3-row">
                            <div class="w3-col m8 s12">
                                <p>
                                    <a href="{% pageurl blog %}">
                                        <button class="button"><span>READ</span></button>
                                    </a>
                                </p>
                            </div>
                            <div class="w3-col m4 w3-hide-small">
                              <p><span class="w3-padding-large w3-right"><b>
                                  {% get_comment_count for blog as comment_count %}
                                  {% if comment_count %}
                                  Comment{{ comment_count|pluralize }}
                                      </b> <span class="w3-badge">{{ comment_count }}</span></span></p>
                                  {% endif %}
                            </div>
                          </div>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <div class="col-md-12">
                    <p>Oh, snap. Looks like we were too busy baking to write any blog posts. Sorry.</p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}
