{% load wagtailimages_tags %}



  <!-- Photo grid -->
<div class="w3-row">
{% for img in images %}
{% image img fill-285x200-c100 as img_obj %}
<div class="w3-display-container w3-opacity-min w3-hover-opacity-off w3-quarter">

        <img src="{{img_obj.url}}" style="width:100%" onclick="onClick(this)" alt="beautiful nature"/>
                                <div class="w3-display-topleft w3-display-hover w3-large">
                                  <button type="button" class="w3-white w3-animate-opacity w3-btn w3-margin w3-round" title="Save"><i class="fa fa-heart w3-text-red"></i></button>
                                </div>
                                <div class="w3-display-topleft w3-display-hover w3-large" style="left:65px">
                                  <button type="button" class="w3-white w3-animate-opacity w3-btn w3-margin w3-round" title="like"><i class="fa fa-thumbs-up w3-text-grey"></i></button>
                                </div>
                                <div class="w3-display-topright w3-display-hover w3-large">
                                  <button type="button" class="w3-white w3-animate-opacity w3-btn w3-margin w3-round" title="Share"><i class="fas fa-paper-plane w3-text-grey"></i></button>
                                </div>
                                <div class="w3-display-bottomleft w3-display-hover w3-large w3-text-white">
                                 <div class="w3-padding w3-animate-opacity">{{ img.title }}</div>
                                </div>
                                <div class="w3-display-middle w3-display-hover w3-large">
                                  <button type="button" class="w3-green w3-animate-opacity w3-btn w3-round">More >></button>
                                </div>


</div>
{{ image.title }}
{% endfor %}
</div>