{% load wagtailcore_tags wagtailimages_tags %}

{% if page.image %}
    {% image page.image fill-1920x600 as image %}
    <div class="hero-image" style="background-image:linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.9)),url('{{ image.url }}'); height: 60vh">

    <div class="w3-container">
        <div class="hero-text-blog">
                    <h1>{{ page.title }}</h1>
                    {% if page.subtitle %}
                        <p class="stand-first">{{ page.subtitle }}</p>
                    {% endif %}
        </div>
    </div>

    </div>
{% else %}
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                <h1>{{ page.title }}</h1>
                {% if page.subtitle %}
                    <p class="stand-first">{{ page.subtitle }}</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}
